/* Summary of CSS */
/* 
0- Global Variables
0.1- Global Styles
1- Cv Header
2- Cv Section
3- Footer
4- Media Queries
5- Animations
6- Scroll Customization
7- KeyFrames
*/

/* 0- Global Variables */
:root {
    --main-color: white;
    --over-color : #ffffff;
    --white-color : rgb(0, 0, 0);
    --hoverd-color : #000000;
    --paragraph-color : #3A6D51;
    --animation-color :#000000;
}

/* 0.1- Global & Stacks Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    direction: rtl;
    color : var(--white-color);
}
body{
    background: linear-gradient(to bottom, rgb(58, 109, 81, 0.8), rgb(58, 109, 81, 0.2));
    min-height: 100vh;
}
h2{
    font-size: 34px;
    color: white !important;
}
h3{
    font-size: 28px;
}
h6{
    font-size: 18px;
    color: white !important;
}
p{
    font-size: 16px;
    color: var(--paragraph-color);
    font-weight: 600;
}
.cv_Emai:hover h6 , .cv_Phone:hover h6, .cv_main_works:hover h6, .Classification:hover h6  {
    animation : scale 1s ease-in-out;
}
.white{
    color: var(--main-color) !important;
}
.cv_section{
    display: none;
}


/* 1- Cv Section */

/* 1.1- Cv Header */
.cv_header {
    font-size: 3em;
    padding: 30px;
    font-weight: 900;
    animation: fadeInUp 1.5s ease-out, colorChange 5s infinite alternate;
}

/* 1.2- Cv main */
.cv_main {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    animation: fadeInUp 2s ease-out;
}

/* 1.3- Cv Aside */
.cv_aside {
    width: 8%;
    background-color: var(--main-color);
    position: relative;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.cv_aside:hover {
    width: 10%;
}
.cv_aside .aside_list .section {
    transition: all 0.3s ease-in-out;
}
.cv_aside .aside_list .section:hover {
    transform: scale(1.1);
}
.cv_aside .aside_list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.cv_aside .aside_list .section{
    list-style: none;
    text-align: center;
    cursor: pointer;
}

/* 1.4- Cv Content */
.cv_section {
    transform-origin: right;
}
.cv_content {
    width: 90%;
    display: flex;
    flex-direction: row;
}
.cv_sections{
    background: rgba(166, 201, 182, 0.486);
    padding: 30px;
    width: 60%;
}
.cv_section{
    color: white;

}

/* 1.5- Cv Image */
.cv_img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0 0 0;

}
.cv_img img {
    width: 80%;
    border: 5px solid transparent;
    outline: 2px solid var(--white-color);
}

/* 1.6- Cv Toggle */
#aside-toggle{
    display: none;
}


/* 1.6 Cv Content */
.cv_main_works ul li , .Classification ul li , .oldWorks li , .Awards li{
    list-style: lower-greek;
    color: var(--paragraph-color);

}
.Awards{
    height: 100%;
}





/* 5- Media Queries */
@media (max-width: 1050px) {
    .section1_infos{
        width: 100% !important;
    }
    .cv_main{
        height: auto;
    }

}

@media (max-width: 850px) {
    .cv_main{
        flex-direction: column;
    }
    .cv_aside{
        width: 100%;
    }
    .aside_list{
        flex-direction: row !important;
        justify-content: space-evenly !important;
        height: 2rem;
    }
    .aside_list li{
        padding: 10px;
    }
    .cv_aside:hover {
        width: 100%;
    }
    .cv_content{
        width: 100%;
        flex-direction: column;
    }
        .cv_sections{
        width: 100%;
    }
    .cv_img{
        width: 100%;
        margin-top: 20px;
        border-radius: 0;
        background : none;

    }
    .cv_img img {
        width: 50%;
    }
    .cv_sections{
    }
    }



/* 6- Scroll Customization */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 0 0 4px 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0c7a0c;
}



/* 7- KeyFrames */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes colorChange {
    0% {
        color: var(--white-color);
    }
    50% {
        color: var(--animation-color);
    }
    100% {
        color: var(--white-color);
    }
}
@keyframes paperOpen {
    from {
        transform: translateX(100%) scaleX(0);
        opacity: 0;
    }
    to {
        transform: translateX(0) scaleX(1);
        opacity: 1;
    }
}